:local(.container) {
  width: 100%;
  height: 100%;
}

:local(.boardMain) {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  background-color: rgb(245, 247, 248);
}

* {
  box-sizing: border-box;
}

html, body, #app{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}