:local(.container) {
  width: 100%;
  height: 100%;
}

:local(.boardMain) {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  background-color: rgb(245, 247, 248);
}

* {
  box-sizing: border-box;
}

html, body, #app{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:local(.message) {
  margin-top: 15%;
  font-size: 25px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
}

:local(.messageShown) {
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

:local(.messageHidden) {
  display: hidden;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 42%;
    width: 100%;
  }
}